# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками

Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

### Задание 1

In [2]:
import pandas as pd

In [8]:
?pd.read_csv

In [92]:
data = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\PYDP-19\stat_basics\horse_data.csv', sep = ',', header=None, na_values='?')
data.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       299 non-null    float64
 1   1       300 non-null    int64
 2   2       300 non-null    int64
 3   3       240 non-null    float64
 4   4       276 non-null    float64
 5   5       242 non-null    float64
 6   6       244 non-null    float64
 7   7       231 non-null    float64
 8   8       253 non-null    float64
 9   9       268 non-null    float64
 10  10      245 non-null    float64
 11  11      256 non-null    float64
 12  12      244 non-null    float64
 13  13      196 non-null    float64
 14  14      194 non-null    float64
 15  15      53 non-null     float64
 16  16      198 non-null    float64
 17  17      182 non-null    float64
 18  18      271 non-null    float64
 19  19      267 non-null    float64
 20  20      135 non-null    float64
 21  21      102 non-null    float64
 22  22      299 non-null    float64
 23  23      300 non-null    int64
 24  24      300 non-null    int64
 25  25      300 non-null    int64
 26  26      300 non-null    int64
 27  27      300 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.8 KB

In [350]:
data_short = data.drop(data.columns[[2,5,6,7,8,9,11,13,14,15,16,17,18,20,21,23,24,25,26,27]], axis=1)

In [351]:
column_names = ['surgery?', 'Age', 'rectal temperature', 'pulse', 'pain', 'abdominal distension', 'total protein', 'outcome']

In [352]:
data_short.set_axis(column_names, axis = 'columns', inplace = True)
data_short.head()

,surgery?,Age,rectal temperature,pulse,pain,abdominal distension,total protein,outcome
0,2.0,1,38.5,66.0,5.0,4.0,8.4,2.0
1,1.0,1,39.2,88.0,3.0,2.0,85.0,3.0
2,2.0,1,38.3,40.0,3.0,1.0,6.7,1.0
3,1.0,9,39.1,164.0,2.0,4.0,7.2,2.0
4,2.0,1,37.3,104.0,NaN,NaN,7.4,2.0

In [323]:
data_short.describe()

,surgery?,Age,rectal temperature,pulse,pain,abdominal distension,total protein,outcome
count,299.000000,300.000000,240.000000,276.000000,245.00000,244.000000,267.000000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,2.95102,2.266393,24.456929,1.551839
std,0.490305,2.173972,0.732289,28.630557,1.30794,1.065131,27.475009,0.737187
min,1.000000,1.000000,35.400000,30.000000,1.00000,1.000000,3.300000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,2.00000,1.000000,6.500000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,3.00000,2.000000,7.500000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,4.00000,3.000000,57.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,5.00000,4.000000,89.000000,3.000000

In [97]:
data_short['Age'].value_counts() #  в описании возможных значений столбца ошибка

1    276
9     24
Name: Age, dtype: int64

In [98]:
data_short['outcome'].value_counts()

1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

**Выводы**: 

-в датасете представлено инфо о 300 случаях заболевания лошадей, подавляющие большинство относится к взрослым особям, в 40% случаев потребовалась операция, больше половины лошадей в итоге выжило;  

-при заболевании у более 75% лошадей присутствовала повышенная температура, свидетельствующая о наличии инфекции  

-показатели пульса и  общего белка сильно разбросаны и смещены в стороному выше от нормальных значений этих параметров, что в целом характерно для животных страдающих от поражений и боли  

-параметр характеризующий уровень боли лошади довольно равномерно распределен по принятым категориям, что говорит о вариантивности случаев течения заболевани и  отсутствии единого сценария развития болевого синдрома  

-такой важный параметр как вздутие также разбит на 4 возможные категории и также как и в случае боли распределен достаточно равномерно, данный параметр лучше всего рассматривать в купе с другими, характеризиющими  боль, моторику, давление и пр. для выявления взаимосвязей с результатами о применении хирургического вмешательства.

### Задание 2

In [101]:
q1 = data_short['rectal temperature'].quantile(0.25)
q3 = data_short['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
data_outliers = data_short[data_short['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([data_short, data_outliers]).drop_duplicates(keep=False).value_counts(data_short['rectal temperature'])

rectal temperature
40.3    2
36.5    2
40.8    1
40.0    1
39.9    1
39.7    1
39.6    1
36.6    1
36.4    1
36.1    1
36.0    1
35.4    1
dtype: int64

выбросов немного, а учитывая довольно компактную группировку всех значений (небольшое значение среднеквадратичного отклонения) они не сильно искажают базовые статистики, поэтому для дальнейшего анализа можем ничего с ними не делать, ни одно из значений скорее всего не является ошибочным

In [102]:
q1 = data_short['pulse'].quantile(0.25)
q3 = data_short['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
data_outliers = data_short[data_short['pulse'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([data_short, data_outliers]).drop_duplicates(keep=False).value_counts(data_short['pulse'])

pulse
150.0    2
184.0    1
164.0    1
160.0    1
dtype: int64

In [103]:
data_short['pulse'].quantile(0.98)

143.0

выбросов крайне мало, все они приближены к максимальному значению, случаи явно нестандартные и требуют дополнительного изучения. Т.к. их наличие приводит к искажению базовых статистик следует выделить в отдельный дата фрейм и проанализировать являются ли значения ошибочными или закономерными для конкретных случаев

In [104]:
q1 = data_short['total protein'].quantile(0.25)
q3 = data_short['total protein'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
data_outliers = data_short[data_short['total protein'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([data_short, data_outliers]).drop_duplicates(keep=False).value_counts(data_short['total protein'])

Series([], dtype: int64)

значения показателя изначально очень сильно разбросаны, поэтому межквартльный размах перекрывает весь имеющийся диапазон значений и выбросов по факту не получаем, возможно для более корректного анализа следует ввести категориальный показатель для значения белка разбив диапазон на несколько интервалов и изучать данный параметр в купе с другими

### Задание 3

In [374]:
data_short.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery?              299 non-null    float64
 1   Age                   300 non-null    int64
 2   rectal temperature    240 non-null    float64
 3   pulse                 276 non-null    float64
 4   pain                  245 non-null    float64
 5   abdominal distension  244 non-null    float64
 6   total protein         267 non-null    float64
 7   outcome               299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [373]:
(data_short.isna().mean() * 100).round(2) # % выбросов по каждому столбцу

surgery?                 0.33
Age                      0.00
rectal temperature      20.00
pulse                    8.00
pain                    18.33
abdominal distension    18.67
total protein           11.00
outcome                  0.33
dtype: float64

**пропуски в столбцах:**  

-для столбцов с одним пропуском замена не сильно скажется на показателях, поэтому заменим на моду  
-**rectal temperature**   учитывая довольно компактную группировку всех значений (небольшое значение среднеквадратичного отклонения) заменим на среднее  
-**pulse**  т.к. пропусков немного, но есть значительные выбросы заменим пропуски на среднее значение из размаха  
-**pain** пропусков достаточно много. знаем, что чем больнее, тем больше вероятность, что потребуется операция, поэтому сгруппируем и посмотрим показатели               
-**abdominal distension**  знаем, что животное с вздутием живота, вероятно, будет болезненным,скорее всего, потребует  
хирургического вмешательства, сгруппируем и посмотрим на результаты  
-**total protein**

In [379]:
data_short_nona = data_short.copy(deep=True)
data_short_nona

,surgery?,Age,rectal temperature,pulse,pain,abdominal distension,total protein,outcome
0,2.0,1,38.5,66.0,5.0,4.0,8.4,2.0
1,1.0,1,39.2,88.0,3.0,2.0,85.0,3.0
2,2.0,1,38.3,40.0,3.0,1.0,6.7,1.0
3,1.0,9,39.1,164.0,2.0,4.0,7.2,2.0
4,2.0,1,37.3,104.0,NaN,NaN,7.4,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,2.0,NaN,65.0,3.0
296,2.0,1,37.2,72.0,4.0,3.0,NaN,3.0
297,1.0,1,37.5,72.0,4.0,3.0,6.8,2.0
298,1.0,1,36.5,100.0,3.0,3.0,6.0,1.0
299,1.0,1,37.2,40.0,NaN,NaN,62.0,3.0

In [ ]:
# surgery? ,  outcome

In [381]:
data_short_nona['surgery?'].fillna(data[0].mode()[0], inplace=True)
data_short_nona['outcome'].fillna(data[22].mode()[0], inplace=True)

In [ ]:
# rectal temperature

In [382]:
data_short_nona['rectal temperature'].fillna(data[3].mean(), inplace=True)

In [ ]:
# pulse

In [383]:
q1 = data_short['pulse'].quantile(0.25)
q3 = data_short['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
pulse_na = data_short[data_short['pulse'].between(lower_bound, upper_bound, inclusive=True)][['pulse']].mean()
pulse_na

pulse    70.258303
dtype: float64

In [384]:
data_short_nona['pulse'].fillna(round(float(pulse_na)), inplace=True)

In [385]:
data_short_nona['pulse'].unique()

array([ 66.,  88.,  40., 164., 104.,  70.,  48.,  60.,  80.,  90.,  72.,
        42.,  92.,  76.,  96., 128.,  64., 110., 130., 108., 100., 112.,
        52., 146., 150., 120., 140.,  84.,  46., 114., 160.,  54.,  56.,
        38.,  98.,  50.,  44.,  78.,  49.,  30., 136., 132.,  65.,  86.,
       129.,  68.,  36.,  45., 124., 184.,  75.,  82.])

In [ ]:
# pain

In [386]:
data_short.value_counts(['pain'])

pain
3.0     67
2.0     59
5.0     42
4.0     39
1.0     38
dtype: int64

In [387]:
print(data_short.groupby('surgery?').mean()['pain'])
print(data_short.groupby('surgery?').median()['pain'])
print(data_short.groupby(['surgery?', 'pain']).count()['Age'])
print(data_short[data_short['surgery?'] == 1]['pain'].mode())
print(data_short[data_short['surgery?'] == 2]['pain'].mode())

surgery?
1.0    3.293706
2.0    2.455446
Name: pain, dtype: float64
surgery?
1.0    3.0
2.0    2.0
Name: pain, dtype: float64
surgery?  pain
1.0       1.0      9
          2.0     34
          3.0     39
          4.0     28
          5.0     33
2.0       1.0     29
          2.0     25
          3.0     28
          4.0     10
          5.0      9
Name: Age, dtype: int64
0    3.0
dtype: float64
0    1.0
dtype: float64

однозначного соответствия нет, проанализировав метрики предварительно заменим медианой

In [388]:
data_short_nona['pain'].fillna(data_short.groupby(['surgery?'])['pain'].transform('median'), inplace=True)

In [ ]:
# abdominal distension

In [402]:
data_short_nona.groupby(['surgery?','pain']).median()['abdominal distension']

surgery?  pain
1.0       1.0     1.0
          2.0     2.0
          3.0     2.0
          4.0     3.0
          5.0     3.0
2.0       1.0     1.0
          2.0     2.0
          3.0     2.0
          4.0     3.0
          5.0     4.0
Name: abdominal distension, dtype: float64

In [403]:
data_short_nona.pivot_table(index = 'surgery?', columns = 'pain', values = 'abdominal distension', aggfunc = 'median')

pain      1.0  2.0  3.0  4.0  5.0
surgery?
1.0       1.0  2.0  2.0  3.0  3.0
2.0       1.0  2.0  2.0  3.0  4.0

In [407]:
data_short_nona['abdominal distension'].fillna(data_short_nona.groupby(['surgery?', 'pain'])['abdominal distension'].transform('median'), inplace=True)

In [408]:
data_short_nona['abdominal distension'].unique()

array([4., 2., 1., 3.])

In [ ]:
# total protein

In [428]:
print(data_short['total protein'].mean())
print(data_short.groupby('pain').mean()['total protein'])
print(data_short.groupby('abdominal distension').mean()['total protein'])
print(data_short.groupby('surgery?').mean()['total protein'])

24.456928838951317
pain
1.0    29.018919
2.0    27.516071
3.0    22.809375
4.0    24.641935
5.0    19.070270
Name: total protein, dtype: float64
abdominal distension
1.0    25.750667
2.0    20.337705
3.0    20.609677
4.0    29.775000
Name: total protein, dtype: float64
surgery?
1.0    25.286709
2.0    22.793519
Name: total protein, dtype: float64

In [423]:
data_short_nona.pivot_table(index = 'pain', columns = 'surgery?', values = 'total protein', aggfunc = 'mean')

surgery?        1.0        2.0
pain
1.0       34.237500  27.579310
2.0       23.693750  24.320513
3.0       26.785938  20.955556
4.0       26.524000  16.800000
5.0       21.960000   6.685714

In [424]:
data_short_nona.pivot_table(index = 'pain', columns = 'abdominal distension', values = 'total protein', aggfunc = 'mean')

abdominal distension        1.0        2.0        3.0        4.0
pain
1.0                   34.296154  17.650000   5.500000        NaN
2.0                   18.725000  24.396667  27.266667  31.883333
3.0                   25.685714  21.188636  24.245455  68.750000
4.0                   16.771429  28.316667  21.216667  37.000000
5.0                   44.766667   6.000000  17.100000  12.116667

 сложно выявить общую тенденцию и закономерность распределения, попробуем в 1ом приближении просто заменить на среднее

In [429]:
data_short_nona['total protein'].fillna((data_short['total protein'].mean()), inplace=True)

In [430]:
(data_short_nona.isna().mean() * 100).round(2)

surgery?                0.0
Age                     0.0
rectal temperature      0.0
pulse                   0.0
pain                    0.0
abdominal distension    0.0
total protein           0.0
outcome                 0.0
dtype: float64

In [431]:
print(data_short[['rectal temperature','pulse', 'pain', 'abdominal distension', 'total protein']].describe())
print('--------------------------')
print(data_short_nona[['rectal temperature','pulse', 'pain', 'abdominal distension', 'total protein']].describe())

       rectal temperature       pulse       pain  abdominal distension  \
count          240.000000  276.000000  245.00000            244.000000
mean            38.167917   71.913043    2.95102              2.266393
std              0.732289   28.630557    1.30794              1.065131
min             35.400000   30.000000    1.00000              1.000000
25%             37.800000   48.000000    2.00000              1.000000
50%             38.200000   64.000000    3.00000              2.000000
75%             38.500000   88.000000    4.00000              3.000000
max             40.800000  184.000000    5.00000              4.000000

       total protein
count     267.000000
mean       24.456929
std        27.475009
min         3.300000
25%         6.500000
50%         7.500000
75%        57.000000
max        89.000000
--------------------------
       rectal temperature       pulse        pain  abdominal distension  \
count          300.000000  300.000000  300.000000            300.000000
mean            38.167917   71.760000    2.900000              2.223333
std              0.654705   27.462393    1.203395              0.984897
min             35.400000   30.000000    1.000000              1.000000
25%             37.900000   48.000000    2.000000              1.000000
50%             38.167917   68.000000    3.000000              2.000000
75%             38.500000   88.000000    4.000000              3.000000
max             40.800000  184.000000    5.000000              4.000000

       total protein
count     300.000000
mean       24.456929
std        25.914514
min         3.300000
25%         6.600000
50%         7.700000
75%        53.250000
max        89.000000