## Домашнее задание «Функции и работа с данными»

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\11_pandas_functions_groupby\ml-latest-small\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def rating_class(rating):
    if rating <= 2:
        return('низкий рейтинг')
    elif rating <= 4:
        return('средний рейтинг')
    else:
        return('высокий рейтинг')

In [4]:
ratings['class'] = ratings['rating'].apply(rating_class)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [5]:
keywords = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\11_pandas_functions_groupby\ml-latest-small\keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [6]:
geo_data = { 'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [7]:
def geo_class(keyword):
    if set(keyword.split(' ')) & set(geo_data['Центр']):
        return('Центр')
    elif set(keyword.split(' ')) & set(geo_data['Северо-Запад']):
        return('Северо-Запад')
    elif set(keyword.split(' ')) & set(geo_data['Дальний Восток']):
        return('Дальний Восток')    
    else:
        return('undefined')

In [8]:
keywords['region'] = keywords['keyword'].apply(geo_class)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [ ]:
# посмотрим общий результат и фильтр по какому-то конкретному значению, т.к. в шапке датафрейма это не видно

In [9]:
keywords['region'].value_counts().head()

undefined         99406
Центр               384
Северо-Запад        146
Дальний Восток       64
Name: region, dtype: int64

In [10]:
keywords[ keywords.region == 'Северо-Запад'].head()

                       keyword   shows        region
370   авито ру санкт петербург  425134  Северо-Запад
1236      банк санкт петербург  174375  Северо-Запад
1346           санкт петербург  144232  Северо-Запад
2153               авито псков   98931  Северо-Запад
2398            авито мурманск   89787  Северо-Запад

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1.В переменную years запишите список из всех годов с 1950 по 2010.

2.Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

-для каждой строки пройдите по всем годам списка years  
-если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска  
-если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год  

3.Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4.Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [11]:
years = list(range(1950, 2011))
print(years)

[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

In [12]:
type(str(years[0]))

str

In [14]:
movies = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\11_pandas_functions_groupby\ml-latest-small\movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
movies_ratings = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\11_pandas_functions_groupby\ml-latest-small\ratings.csv')
movies_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [16]:
type(movies.loc[0].title)

str

In [17]:
def production_year(row):
    for year in years:
        if str(year) in row['title']:
            return(year)
    return(1900)

In [18]:
movies['year'] = movies.apply(production_year, axis=1)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [19]:
movies['year'].value_counts()

1900    1610
1996     275
2000     274
1998     272
2002     271
        ...
1956      32
1958      31
1952      27
1950      27
1951      23
Name: year, Length: 62, dtype: int64

In [ ]:
# под условие "год есть в списке с 1950 по 2010" не попало много фильмов, снятых как раньше так и позже
# поэтому результат будет не совсем верный

In [20]:
joined = movies_ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989

In [21]:
len(joined)

100004

In [22]:
len(joined.groupby('year'))

62

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [23]:
df = joined.groupby(['year']).rating.mean().sort_values(ascending = False)
df

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Name: rating, Length: 62, dtype: float64

In [ ]:
# немного проанализируем

In [24]:
df.reset_index().loc[0:31].year.max()

1984

In [25]:
df2 = df.reset_index().loc[32:62]
df2[df2.year != 1900].year.min()

1956

In [26]:
df.reset_index().loc[32:62].sort_values('year').head(10)

    year    rating
36  1900  3.602960
34  1956  3.617647
39  1978  3.549003
32  1982  3.638306
37  1985  3.588998
45  1986  3.528265
35  1987  3.606015
38  1988  3.552990
44  1989  3.534349
56  1990  3.449169

In [270]:
# результаты можно трактовать по-разному, с одной стороны в первой половине рейтинга вообще нет 21-го века, макс.год - 1984
# с другой - в нижней части рейтинга тоже есть года с 1956 до 1990 с низкой средней оценкой