## Домашнее задание «Функции и работа с данными»

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
import pandas as pd

In [ ]:
ratings = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\11_pandas_functions_groupby\ml-latest-small\ratings.csv')
ratings.head()

In [ ]:
def rating_class(rating):
    if rating <= 2:
        return('низкий рейтинг')
    elif rating <= 4:
        return('средний рейтинг')
    else:
        return('высокий рейтинг')

In [ ]:
ratings['class'] = ratings['rating'].apply(rating_class)
ratings.head()

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [ ]:
keywords = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\11_pandas_functions_groupby\ml-latest-small\keywords.csv')
keywords.head()

In [ ]:
geo_data = { 'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [ ]:
def geo_class(keyword):
    if set(keyword.split(' ')) & set(geo_data['Центр']):
        return('Центр')
    elif set(keyword.split(' ')) & set(geo_data['Северо-Запад']):
        return('Северо-Запад')
    elif set(keyword.split(' ')) & set(geo_data['Дальний Восток']):
        return('Дальний Восток')    
    else:
        return('undefined')

In [ ]:
keywords['region'] = keywords['keyword'].apply(geo_class)
keywords.head()

In [ ]:
# посмотрим общий результат и фильтр по какому-то конкретному значению, т.к. в шапке датафрейма это не видно

In [ ]:
keywords['region'].value_counts().head()

In [ ]:
keywords[ keywords.region == 'Северо-Запад'].head()

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1.В переменную years запишите список из всех годов с 1950 по 2010.

2.Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

-для каждой строки пройдите по всем годам списка years  
-если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска  
-если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год  

3.Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4.Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [ ]:
years = list(range(1950, 2011))
print(years)

In [ ]:
type(str(years[0]))

In [ ]:
type(movies.loc[0].title)

In [ ]:
movies = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\11_pandas_functions_groupby\ml-latest-small\movies.csv')
movies.head()

In [ ]:
movies_ratings = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\11_pandas_functions_groupby\ml-latest-small\ratings.csv')
movies_ratings.head()

In [ ]:
def production_year(row):
    for year in years:
        if str(year) in row['title']:
            return(year)
    return(1900)

In [ ]:
movies['year'] = movies.apply(production_year, axis=1)
movies.head()

In [ ]:
movies['year'].value_counts()

In [ ]:
# под условие "год есть в списке с 1950 по 2010" не попало много фильмов, снятых как раньше так и позже
# поэтому результат будет не совсем верный

In [ ]:
joined = movies_ratings.merge(movies, on='movieId', how='left')
joined.head()

In [ ]:
len(joined)

In [ ]:
len(joined.groupby('year'))

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [239]:
df = joined.groupby(['year']).rating.mean().sort_values(ascending = False)
df

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Name: rating, Length: 62, dtype: float64

In [ ]:
# немного проанализируем

In [269]:
df.reset_index().loc[0:31].year.max()

1984

In [267]:
df2 = df.reset_index().loc[32:62]
df2[df2.year != 1900].year.min()

1956

In [272]:
df.reset_index().loc[32:62].sort_values('year').head(10)

    year    rating
36  1900  3.602960
34  1956  3.617647
39  1978  3.549003
32  1982  3.638306
37  1985  3.588998
45  1986  3.528265
35  1987  3.606015
38  1988  3.552990
44  1989  3.534349
56  1990  3.449169

In [270]:
# результаты можно трактовать по-разному, с одной стороны в первой половине рейтинга вообще нет 21-го века, макс.год - 1984
# с другой - в нижней части рейтинга тоже есть года с 1956 до 1990 с низкой средней оценкой