## Домашнее задание к лекции «Продвинутый pandas»

### Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

-если источник traffic_source равен yandex или google, то в source_type ставится organic  
-для источников paid и email из России - ставим ad  
-для источников paid и email не из России - ставим other  
-все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [12]:
log = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\pandas_pro\доп_материалы_к_пандас_1_и_2\visit_log.csv', sep = ';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [13]:
log['traffic_source'].unique()

array(['yandex', 'direct', 'paid', 'email', 'google'], dtype=object)

In [4]:
(log.loc[0]['traffic_source'] == 'email' or log.loc[0]['traffic_source'] == 'paid') & (log.loc[0]['region'] == 'Russia')

False

In [ ]:
# сложные условия обернем в функцию, простые применим последовательно через loc

In [14]:
def source_type(row):
    if (row['traffic_source'] == 'email' or row['traffic_source'] == 'paid') & (row['region'] == 'Russia'):
        return('ad')
    if (row['traffic_source'] == 'email' or row['traffic_source'] == 'paid') & (row['region'] != 'Russia'):
        return('other')

In [15]:
log['source_type'] = log.apply(source_type, axis=1).fillna(log['traffic_source'])
log.loc[log.traffic_source == 'yandex', 'source_type'] = 'organic'
log.loc[log.traffic_source == 'google', 'source_type'] = 'organic'
log.head(15)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,direct
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,direct
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,direct

In [17]:
log.source_type.value_counts()

direct     7013
organic    5407
ad         3790
other      2728
Name: source_type, dtype: int64

### Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1.Прочитайте содержимое файла с датафрейм  
2.Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [24]:
urls = pd.read_table(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\pandas_pro\доп_материалы_к_пандас_1_и_2\URLs.txt')
urls.head(10)

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...
8                                          /science/
9                                            /sport/

In [25]:
?pd.read_table

In [47]:
urls[urls.url.str.contains(r'/\d{8}-', regex=True)].head(10)

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
10  /middleeast/36131117-divizion-s-400-ne-zametil...
11  /economics/36065674-rossiyane-vozmutilis-minim...
12  /politics/36118047-otets-24-detey-potreboval-i...
13  /travel/36194479-v-sheremetevo-passazhiry-ustr...
14  /politics/35638742-nesolidno-mariya-zaharova-s...

### Задание 3

1.Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [173]:
ratings = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\python\лекции\pandas_pro\доп_материалы_к_пандас_1_и_2\ml-latest-small\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [50]:
len(ratings)

100004

In [ ]:
# кол-во уникальных пользователей

In [64]:
len(ratings.userId.unique())

671

In [ ]:
# пользователи, поставившие более 100 оценок

In [175]:
rating_count = ratings.groupby('userId').count()[['rating']]
rating_count[rating_count.rating > 100]

        rating
userId
4          204
8          116
15        1700
17         363
19         423
...        ...
656        128
659        142
664        519
665        434
671        115

[258 rows x 1 columns]

In [192]:
len(rating_count[rating_count.rating > 100])

258

In [ ]:
# время жизни пользователей

In [184]:
ratings_grouped = ratings.groupby('userId').agg({'timestamp':[min, max], 'rating': 'count'})
ratings_grouped.head()

         timestamp             rating
               min         max  count
userId
1       1260759108  1260759205     20
2        835355395   835356246     76
3       1298861589  1298932787     51
4        949778714   949982274    204
5       1163373044  1163375145    100

In [177]:
len(ratings_grouped)

671

In [185]:
ratings_grouped['lifetime'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']
ratings_grouped.head()

         timestamp             rating lifetime
               min         max  count
userId
1       1260759108  1260759205     20       97
2        835355395   835356246     76      851
3       1298861589  1298932787     51    71198
4        949778714   949982274    204   203560
5       1163373044  1163375145    100     2101

In [ ]:
# среднее время жизни всех пользователей

In [227]:
ratings_grouped['lifetime'].mean()/3600/24

201.08403940359884

In [ ]:
# совместим с фильтром на пользователей

In [219]:
ratings_grouped.loc[ratings_grouped['rating']['count'] > 100, 'lifetime']

userId
4         203560
8          85187
15     471393496
17          8053
19          5282
         ...
656         3053
659     31609411
664     98180439
665     54131471
671     11283984
Name: lifetime, Length: 258, dtype: int64

In [223]:
res = round(ratings_grouped.loc[ratings_grouped['rating']['count'] > 100, 'lifetime'].mean()/3600/24, 1)
res

463.9

In [225]:
print(f'Cреднее время жизни пользователя, поставившего более 100 оценок : {res} час(ов)')

Cреднее время жизни пользователя, поставившего более 100 оценок : 463.9 час(ов)

### Задание 4

Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов  

Необходимо сформировать две таблицы:  

-таблицу с тремя типами выручки для каждого client_id без указания адреса клиента  
-аналогичную таблицу по типам выручки с указанием адреса клиента  

*Обратите внимание, что в процессе объединения таблиц данные не должны теряться.*

In [228]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [229]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [230]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [231]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [245]:
revenue = rzd.merge(auto, how='outer', on='client_id').merge(air, how='outer', on='client_id').fillna(0)
revenue

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

In [248]:
revenue.merge(client_base, how='left', on='client_id')

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4